VITE_OPENAI_API_KEY=uBhLhG9alfttI6_BYxuBx8iRIR2S6KveHpdKt6a_23DyPULn6tk6Y1d4iOL4gKJCBc7xXSxMOzT3BlbkFJmwZFcTBCQ0FloveB1auW4irKncZ_bKZF1FW79lVvuM3aNnoMNO4UAau7PBw1NLhj8EtvsCt8cA
VITE_GEMINI_API_KEY=AIzaSyArDHkGdRGGoGO_OAkjykp-mAqTZeWSAzI
VITE_PROPERTY_API_KEY=
